@CHARSET "ISO-8859-1";

body{
	background-color: gray;
}

#container{
	width: 940px;
	min-height: 800px;
	margin: auto;
	background-color: white;
}

#header{
	background-color: black;
	height: 40px;
}

#logo{
	background-color: green;
	height: 100px;
}

#specialOffers{
	background-color: red;
	height: 300px;
}

#footer{
	background-color: black;
	height: 100px;
	
}



/*Navigationsmenü*/
#navigation {
     font-family: arial, sans-serif;
     position: relative;
     width: auto;
     height:56px;
     font-size:14px;
     color:#999;
     margin: 0px auto;

}
 
#navigation ul {
     list-style-type: none;
}
 
#navigation ul li {
     float: left;
     position: relative;
}
 
#navigation ul li a {
     text-align: center;
     border-right:1px solid #e9e9e9;
     padding:20px;
     display:block;
     text-decoration:none;
     color:#999;
}
 
#navigation ul li ul {
     display: none
}
 
#navigation ul li:hover ul {
     display: block;
     position: absolute;
}
 
#navigation ul li:hover ul li a {
     display:block;
     background:#12aeef;
     color:#ffffff;
     width: 110px;
     text-align: center;
     border-bottom: 1px solid #f2f2f2;
     border-right: none;
}
 
#navigation ul li:hover ul li a:hover {
     background:#6dc7ec;
     color:#fff;
}